.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

html{
	background-color: #91784d;
}

a:link{
	color: #fff;
}

a:visited{
	color: blue;
}

a:hover{
	color: black;
}

li::first-line{
	color: #fff;
}